.formgroup{
    width: 100%;
    padding: 8px
    
}
.formgroup-err{
    width: 100%;
    padding: 0px 20px 0px 20px;
}

// .formgroup input{
//     width: 100%;
//     padding: 5px;
//     border:none;
//     border-bottom: 2px solid #5e72e4;
//     z-index: -1;
// }

.formgroup input{
    border: 1px solid rgba(128, 128, 128, 0.774);
    width: 100%;
    padding: 8px;
    z-index: -1;
    border-radius: 5px;
}
.mapForm{
    height:"100%";
    width:"100%";
}

.preIcon{
    position: relative;
    align-items: center;
}

.preIcon i{
    position: absolute;
    top:50%;
    left:20px;
    transform: translateY(-50%);
    color: #676a6d;
}

.preIcon input{
    padding-left: 30px;
}



.formgroup .map-error{
    border-bottom: 2px solid red;
}


.selecteddesc:hover{
    background-color: royalblue;
    color: white;
}

