.count-tag{
    min-width: 250px;
    min-height: 120px;
    border-radius: 15px;
    background-color: white;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform .3s ease-in-out;
}


.count-tag:hover{
    
    transform: scale(1.1);
}