@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');


body{
    font-size: 14px;
}

.main-content{
    // background-color:"#b388ff";
    // padding-bottom: 100px;
   

}

.btnres{

}

.dashboardCard{
    width: 200px;
}


.content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kamkaj-logo{
    color: #ffff;
    // font-family: 'Crimson Text', serif;;
    // background-color: #75757983;

}

.pointer{
    cursor: pointer;
}

.fa-user-plus{
    color: #1b5e20;
}

.fa-list-ul{
    color: #ee224a;
    // text-shadow: 0 0 3px #000000, 0 0 5px #c2c2c5;

}

.fa-sign-in-alt{
    color:#40c4ff
}

.listbrand{
    color: white;
    
}

// .erfect-scrollbar-off .nav-open{
//     background-color: red;
// }


// .animatedBtn span{
//         cursor: pointer;
//         display: inline-block;
//         position: relative;
//         transition: 0.5s;      
// }

// .animatedBtn span:after{
//     content: '\00bb';
//     position: absolute;
//     opacity: 0;
//     top: 0;
//     right: -10px;
//     transition: 0.5s; 
// }

// .animatedBtn:hover span{
//     padding-right: 15px;
// }

// .animatedBtn:hover span:after{
//     opacity: 1;
//     right: 0;
// }

//kk-dropdown styles

.kk-dropdown{
    position: relative;
    display: inline-block;
}
.kk-dropbtn{
    color: white;
}

.kk-dropdown-content{
    display: none;
    position: absolute;
    background-color: rgba(245, 245, 245, 0);
    min-width: 200px;
    border-radius: 5px;
    z-index: 1;
    transform: translateX(-30px);
    transition: background-color .7s;
}

.kk-dropdown-content a{
    color: rgba(0, 0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 5px;
    display: block;
    // transition: color .5s;
}

.kk-dropdown-content a:hover {
    background-color: #ddd;
    
}

.kk-dropdown:hover .kk-dropdown-content{
    display: block;
    background-color: whitesmoke;
}

.kk-dropdown:hover a{
    color: black;
}


.kk-dropdown:hover .kk-dropbtn {color:rgba(245, 245, 245, 0.507)}


.ripple{
    position: relative;
    border: none;
    color: #FFFFFF;
    border: 1px solid #FFFFFF; 
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .ripple:after {
    content: "";
    background: #cfd8dc;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .ripple:active:after {
    padding: 0;
    margin: 0;
    opacity: 0.5;
    transition: 0s
  }

@media only screen and (max-width: 1920px){
    
    .custombrdrright{
        border-right: thin solid rgb(226, 223, 223);
    }
    .btnres{
        width: 100%;
    }
}

@media only screen and (max-width: 1366px) {
    .custombrdrright{
        border-right: thin solid rgb(226, 223, 223);
    }
    //     .content{
    //         margin-top: 80px;
    //     }
      }  

@media only screen and (max-width: 1200px) {
    .custombrdrright{
        border-right: thin solid rgb(226, 223, 223);
    }    
    //     .content{
    //         margin-top: 80px;
    //     }
      }  

@media only screen and (max-width: 992px) {
    .custombrdrright{
        border-right: 0px;
    }
}  

@media only screen and (max-width: 768px) {
    .mapmodalbody{
        display: flex;
        flex-direction: column;
    }
    .custombrdrright{
        border-right: 0px;
    }
    .kk-dropdown:hover .kk-dropdown-content {
        display: block;
        transform: translateX(-90px);
    }
    .content{
       
    }
    
    .btnres{
        width: 100%;
    }
  
  }  

  @media only screen and (max-width: 658px) {
    .kk-dropdown:hover .kk-dropdown-content {
        display: block;
        transform: translateX(-90px);
    }
    .content{
        padding-top: 150px;
    }
   
    .btnres{
        width: 100%;
    }
   
  }  

  @media only screen and (max-width: 576px) {
    .dashBoardClass{
        overflow-y: scroll;
        height: 100%;
       
    }
   body{
       font-size: 13px;
   }
   .content{
    padding-top: 20px;
    padding-bottom: 40px;
}

  }



//nav icon colors
.fa-user-shield{
    color: #009688;
    // text-shadow: 0 0 3px #ffffff, 0 0 5px #faf9f9;
}

.fa-briefcase{
    color: #ff8f00;
    // text-shadow: 0 0 3px #000000, 0 0 5px #c2c2c5;

}

.fa-paper-plane{
    color: #00b0ff;
    // text-shadow: 0 0 3px #000000, 0 0 5px #c2c2c5;
}

.fa-scroll{
    color: #26a69a;
    // text-shadow: 0 0 3px #000000, 0 0 5px #c2c2c5;
}

.fa-network-wired{
    color: #3f51b5;
    // text-shadow: 0 0 3px #d8d3d3, 0 0 5px #070707;
}

.fa-tv{
    color: #40c4ff;
    // text-shadow: 0 0 3px #000000, 0 0 5px #c2c2c5;
}

.fa-language{
    color:#2962ff;
    // text-shadow: 0 0 3px #ffffff, 0 0 5px #000000;
}

.fa-bell{
    color: #ef5350;
    // text-shadow: 0 0 3px #000000, 0 0 5px #c2c2c5;

}

.fa-users{
    color:#1dd67d;
    // text-shadow: 0 0 3px #000000, 0 0 5px #c2c2c5;
}

.fa-key{
    color:#ffd600;
    // text-shadow: 0 0 3px #000000, 0 0 5px #c2c2c5;

}

.fa-globe-asia{
    color:#40c4ff;
    // text-shadow: 0 0 3px #000000, 0 0 5px #c2c2c5;

}

.fa-user-friends{
    color:#ffccbc;
    // text-shadow: 0 0 3px #000000, 0 0 5px #c2c2c5;

}

.fa-building{
   color:#0091ea;
//    text-shadow: 0 0 3px #000000, 0 0 5px #c2c2c5;

}

.fa-copy{
    // text-shadow: 0 0 3px #000000, 0 0 5px #c2c2c5;
    color:#b388ff
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 255, 255); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #b388ff;
    // box-shadow: 0 4px 8px 0 rgba(0, 238, 255, 0.2), 0 6px 20px 0 rgba(0, 255, 242, 0.19);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7f3fee; 
  }


  .navitems::before{
    content: "";
    width: 0;
    height: 100%;
    top:0;
    left:0;
    position: absolute;
    background-color: #b488ff6b;
    transition: width .5s ease-in-out;
    cursor: pointer;
    z-index: -1;
}

  .navitems:hover:before{
      width: 200%;
  }

  .navitems{
      z-index: 1;
      cursor: pointer;

  }
  

  .MuiSnackbar-root{
      position: relative;
  }


  .mandatory::after{
      content: "*";
    color: red;
    margin-left: 5px;
  }

.error{
       border-left: 5px solid #f44336;
      background-color: #ffebee;
  }

.success{
    border-left: 5px solid #4caf50;
    background-color: #e8f5e9   ;
}

.errText{
    color:red
}

textarea{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 90px;
    width: 100%;
    border-radius: 5px;
    border:1px solid rgb(223, 219, 219);
    padding: 9.375px 11.25px;
}

.error{
    border-left: 4px solid red;
}


.pagination button{
    color:white;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    font-size: larger;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.068);
    border-radius: 50%;
    cursor: pointer;
}

.addressTag{
    background-color: whitesmoke;
    padding: 15px;
}

.addressTag font{
    cursor: pointer;
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    animation-duration: .5s;
 }

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;} 
 } 



.mapmodal{
    // position: absolute;
    margin-top: 2%;
    background-color: white;
    margin-left: auto;
    margin-right: auto; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    // transform: translate(-50%,-50%);
    width: 70%;
    animation: zoominoutsinglefeatured .8s;
    
}

.mapmodal div{
    // padding:18px;
    // height: ;
}

.mapmodalbody{
    display: flex;
    
}



@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(0,0);
    }
    50% {
        transform: scale(1.1,1.1);
    }
    100% {
        transform: scale(1,1);
    }
}


.tab-border{
 border: none;
 border-bottom: 1px solid white;
 padding-top: 20px;
 padding-bottom: 20px;
 transition: border-bottom .2s;   
}

// .tab-border:hover{
//     background-color: rgba(64, 224, 208, 0.473);
//     padding-top: 20px;
// }

.active-tab{
    border-bottom: 5px solid white;
}

.tab-style{
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    border: unset;
    background-color: transparent;
    color: white;
    position: relative;
    font-size: medium;
    padding:5px;
}

.tab-style:hover{
    background-color: transparent;
    color: white;
}

.tab-style:active{
    
    background-color: transparent;
    color: white;
}

.bounce-1{
    animation-name: bounce-1;
    animation-timing-function: linear;
}
@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-15px); }
    100% { transform: translateY(0); }
}

.fa-chart-line{
    color: rgb(245, 54, 92);
}

.fa-user-tie{
    color:#009688;
}

.box-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}